{% extends 'base.twig' %}

{% block title %}Update user{% endblock %}

{% block content %}

    {% if is_granted('ROLE_USER') %}

        <h2>Update user {{ login }}</h2>
    {% for flashMessage in app.session.getFlashBag.get('message') %}
        {{ flashMessage.content }}
    {% endfor %}
    <form action="" method="post" >
        {{ form_widget(form) }}
        <input class="btn btn-default" type="submit" name="Send">
    </form>

    {% else %}
        No access
    {% endif %}
{% endblock %}