{% extends 'base.twig' %}

{% block title %}Error{% endblock %}

{% block content %}
No access here! <a href = {{ login_link }}>Please log in here</a> or register here if you have no account

{% endblock %}